
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    <input type="text" name="Firstname" value="" /> <br />
    <input type="text" name="Lastname" value="" /> <br />
    <input type="text" name="DOB" value="" /> <br />
    <input type="submit" name="submit" value="save employee" />
</form>